## Desafio

1. Crie uma tabela _orders_by_year_ a partir de _orders_ que agrupa a quantidade de pedidos por ano, considerando a coluna _order_approved_at_

In [ ]:
{{ config(materialized='table') }}
select 
  extract(year from date(order_approved_at)) as year, 
  count(order_id) as total
  from shop.orders 
  group by 1

2. Crie uma visão que agrega os totais de pedidos por estado. Considere as tabelas _customers_ para obter os estados (coluna _customer_state_) e _orders_ para contabilizar a quantidade de pedidos.

In [ ]:
SELECT customers.customer_state, count(orders.order_id) as total
FROM `shop.orders` as orders 
INNER JOIN `shop.customers` as customers ON customers.customer_id = orders.customer_id
group by customers.customer_state

3. Crie uma nova visão chamada _customers_by_region_ que utiliza os dados da tabela _customers_with_region_. A visão deve realizar uma agregação por região e contar o número de clientes em cada uma delas.

In [ ]:
{{ config(materialized='table') }}

SELECT 
CASE 
    WHEN customers.customer_state IN ('SP', 'RJ', 'MG', 'ES') THEN 'Sudeste'
    WHEN customers.customer_state IN ('RS', 'ES', 'PR') THEN 'Sul'
    WHEN customers.customer_state IN ('MT', 'MS', 'GO', 'DF') THEN 'Centro-Oeste'
    WHEN customers.customer_state IN ('CE', 'PI', 'MA', 'BA', 'AL', 'PE', 'PB', 'RN') THEN 'Nordeste'
    WHEN customers.customer_state IN ('RR', 'AP', 'PA', 'AM', 'AC', 'RO', 'TO') THEN 'Norte'
    ELSE 'SEM REGIAO'
END AS QUANTIDADE_REGIAO,

count(customers.customer_id) as TOTAL
FROM `shop.customers` as customers 
group by QUANTIDADE_REGIAO
order by QUANTIDADE_REGIAO

4. Crie uma nova tabela chamada _customers_with_region_ que utiliza os dados da tabela customers como base e adiciona uma nova coluna region que é calculada a partir da coluna customer_state. 
 
 **Dica**: utilize uma expressão CASE.
 
 **Exemplo**:
 
 CASE
        WHEN state IN ('SP', 'RJ') THEN 'Sudeste'
        
 CASE
        WHEN state IN ('CE', 'PI', 'MA', 'BA') THEN 'Nordeste'

In [ ]:
{{ config(materialized='table') }}

SELECT   customers.customer_id,customers.customer_unique_id, customers.customer_zip_code_prefix,
         customers.customer_city, customers.customer_state,
CASE 
    WHEN customers.customer_state IN ('SP', 'RJ', 'MG', 'ES') THEN 'Sudeste'
    WHEN customers.customer_state IN ('RS', 'ES', 'PR') THEN 'Sul'
    WHEN customers.customer_state IN ('MT', 'MS', 'GO', 'DF') THEN 'Centro-Oeste'
    WHEN customers.customer_state IN ('CE', 'PI', 'MA', 'BA', 'AL', 'PE', 'PB', 'RN') THEN 'Nordeste'
    WHEN customers.customer_state IN ('RR', 'AP', 'PA', 'AM', 'AC', 'RO', 'TO') THEN 'Norte'
    ELSE 'SEM REGIAO'
END AS Regiao,

FROM `shop.customers` as customers

5. Crie um novo modelo no diretório models/ com o nome *items_costs.sql* e defina uma consulta SQL que selecione algumas colunas da tabela order_items e calcule o preço total de cada item.

In [ ]:
select order_items.product_id as  PRODUTO, sum(order_items.price) as SOMA_PRODUTOS
FROM `shop.order_items` as order_items group by order_items.product_id;

6. Crie um novo modelo no diretório models/ com o nome _orders_costs.sql_ e defina uma consulta SQL que agregue os dados da tabela orders e da tabela order_items para calcular o preço total de cada pedido.